/* ここからPC用入力 */

header {
  width: 100%;
  /* min-width: 767px; */
}

body {
  padding: 0;
  margin: 0;
  /* max-width: 960px; */

}

nav {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  /* min-width: 767px; */
  margin: 20px auto 20px auto;


}

/* ---file--- */
.file {
  display: inline;
  padding: 20px;
  /* margin-top: 31px; */
  /* margin-left: 208px; */
  /* height: 46px; */
  font-size: 34px;
  /* font-style: normal; */
  /* font-weight: 700; */
  /* line-height: 46.31px; */

  border: 1px solid black;
}

.file>a {
  text-decoration: none;
}

.file>a:link {
  color: black;
}

.file>a:visited {
  color: black;
}

.nav-d {
  padding-top: 20px;
}

.nav-d a {
  font-size: 34px;
}

/* ---about--- */
.about {
  padding-right: 15px;
}

.nav-d>a {
  text-decoration: none;
}

.nav-d>a:link {
  color: black;
}

.nav-d>a:visited {
  color: black;
}


/* ---ここからarticle部分--- */
/* ---カメラ画像--- */
.can-camera {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  /* min-width: 767px; */

}

/* ここからsection-about */

#about {

  font-size: 34px;
  text-align: center;
  max-width: 100%;

}

.section01 p {

  font-weight: 700;
  font-size: 24px;
  margin-bottom: 9px;
  margin-top: 42px;

}

.sec-d1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  justify-content: center;
}

.img-kazu {

  border-radius: 50%;
  
}


.list {
  
  font-size: 18px;
  padding-left: 39px;
  margin-bottom: 44px;
}

.list>li {
  /* width: 405px; */
  /* line-height: 24.52px; */
  font-weight: 400px;
  font-size: 22px;

}

/* ---ここからlast-section--- */
#works {
  font-size: 34px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;

}


.section2 {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 50px auto;
  width: 100%;
}

.section2 p {
  font-size: 22px;

}

.img {
  width: 100%;
}

.secimg {
  width: 30%;
}

/* ---ここからfooter--- */

#copyright {
  /* width: 268px; */
  font-weight: 400;
  font-size: 18px;
  /* line-height: 24.52px; */
  margin-bottom: 17px;

}

footer>div {
  text-align: center;
  font-size: 18px;

}





/* ---ここからスマホ用--- */
@media (max-width: 767px) {
  .section2 {
    display: block;
    width: 100%;
    padding-bottom: 40px;
  }

  .secimg{
    width: 100%;
    text-align: center;
  }
}