/* ここからPC用入力 */

@media screen and (min-width:768px){
  

body{
  padding: 0;
  margin: 0;
  max-width: 960px;

}
nav{
  display: flex;
  max-width: 960px;
  
}
/* ---file--- */
.file{
  margin-top: 31px;
  margin-left: 208px;
  height: 46px;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 46.31px;
  border: 1px solid black;
}
.file>a{
  text-decoration: none;
}
.file>a:link{
  color: black;
}
.file>a:visited{
  color: black;
}
/* ---about--- */
 .about{
  margin-top: 31px;
  margin-left: 160px;
  width: 104px;
  height: 46px;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  line-height: 46.31px;
} 
.about>a{
text-decoration: none;
}
.about>a:link{
  color: black;
}
.about>a:visited{
  color: black;
}
/* ---works--- */
.works{
  margin-top: 31px ;
  margin-left: 35px;
  width: 104px;
  height: 46px;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  line-height: 46.31px;
} 
.works>a{
  text-decoration: none;
}
.works>a:link{
  color: black;
}
.works>a:visited{
  color: black;
}

/* ---ここからarticle部分--- */
article{
  max-width: 960px;
  flex-wrap: wrap;
  
}
/* ---カメラ画像--- */
.can-camera{
  padding: 0;
  margin: 20px 0 0 0;
  max-width: 100%;
  height: 400px;
}

/* ここからsection-about */

#about{
  width: 104px;
  height: 46px;
  margin:50px 0 22px 428px;
  font-size: 34px;
  font-weight: 700;
  line-height: 46.31px;
}

.section01 p{
  height: 33px;
  margin: 0 0 0 354px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.69px;
 
}
.sec-d1{
  display: flex;
}

.img-kazu{
  border-radius: 50%;
  width: 141px;
  height: 142px;
  margin-left: 180px;
}


.list{
  font-weight: 400px;
  font-size: 18px;
  line-height: 24.52px;
  margin-bottom: 44px;
}
.list>li{
  width: 405px;
  line-height: 24.52px;
  font-weight: 400px;
}
/* ---ここからlast-section--- */
#works{
  width: 104px;
  font-size: 34px;
  line-height: 46.31px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: ;
}

.section2{
  display: flex;
  margin: 30px 194px 0 193px;
  justify-content: space-between;
}
.img{
  width: 179px;
  height: 134px;
}
.last-section p{
  width: 178px;
  font-size: 18px;
  line-height: 24.52px;
  text-align: center;
  margin-bottom: 56px;
}


/* ---ここからfooter--- */
footer{
  max-width: 960px;
}
#copyright{
  width: 268px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.52px;
  margin-bottom: 17px;
  
}

footer>div{
  text-align: center;
}

}



/* ---ここからスマホ用--- */

@media (max-width: 767px){
/* --ボディ内-- */
body{
  max-width: 767pc;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.file{
  float: left;
  margin: 20px 276px 20px 20px;
  height: 46px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46.31px;
  border: 1px solid black;
  width: 163px;
  padding: 11px 29px 12px 28px;
}
.file>a{
  text-decoration: none;
}
.file>a:link{
  color: black;
}
.file>a:visited{
  color: black;
}
/* ＝＝＝About＝＝＝ */
.about{
  margin-top: 31px;
  margin-right: 20px;
  width: 104px;
  height: 46px;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  line-height: 46.31px;
  float: left;
} 
.about>a{
text-decoration: none;
}
.about>a:link{
  color: black;
}
.about>a:visited{
  color: black;
}
/* ＝＝＝Works＝＝＝ */
.works{
  margin-top: 31px ;
  width: 104px;
  height: 46px;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  line-height: 46.31px;
  margin-right: 20px;
  float: left;
} 
.works>a{
  text-decoration: none;
}
.works>a:link{
  color: black;
}
.works>a:visited{
  color: black;
}

/* ＝＝＝カメラの画像＝＝＝ */
.can-camera{
  width: 100%;
  height: auto;
  
}
/* ＝＝＝第一セクション＝＝＝ */
.section01{
  position: relative;
}
/* ＝＝＝About＝＝＝ */
#about{
  padding-left: 30px;
  margin: 0 auto;
  margin-top: 50px;
  width: 146px;
  height: 46px;
  font-weight: 700;
  font-size: 34px;
  line-height: 46.31px;
  margin-bottom: 58px;
}
/* ＝＝＝第一セクション内の名前＝＝＝ */

.section01 p{
  /* margin: 0 auto; */
  /* margin-right: 344px; */
  width: 183px;
  height: 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32.69px;
  position: absolute;
  left: 220px;
  top: 88px;
  margin: 0;
  
}

/* ＝＝＝カズキの画像＝＝＝ */
.img-kazu{
  border-radius: 50%;
  width: 141px;
  height: 142px;
  margin-right: 39px;
  margin-left: 60px;
}
/* ＝＝＝第一セクション内リスト＝＝＝ */
.list{
  padding-left: 0;
}
/* ＝＝＝第一セクション内div＝＝＝ */
.sec-d1{
  display: flex;
  
}

/* ＝＝＝ここから第二セクション＝＝＝ */
/* ＝＝＝Works＝＝＝ */
#works{
  width: 107.14px;
  height: 46.49px;
  font-size: 34px;
  font-weight: 700;
  line-height: 46.31px;
  margin: 0 auto;
  margin-bottom: 29.51px;
}
/* ＝＝＝写真＝＝＝ */
.img{
  /* max-width: 647px; */
  width: 100%;
  height: auto;
  padding: 0 60px 0 60px;
}
/* ＝＝＝第二セクション内P＝＝＝ */
.setu01{
  width: 727px;
  height: 55px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.52px;
  text-align: center;
  margin-top: 17px;
  padding-left: 20px;
}
.setu02{
  width: 647px;
  height: 35px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24.52px;
  text-align: center;
  margin-top: 17px;
  padding-left: 60px;
}
.setu03{
  width: 647px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.52px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 50px;
  padding-left: 61px;
}
/* ＝＝＝コピーライト＝＝＝ */
#copyright{
  text-align: center;
  width: 268px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.52px;
}
footer div{
  text-align: center;
  margin-bottom: 20px;
}

}

